body{
    /*margin:15px auto;*/
    line-height: 1.6em;
    font-size:18px;
    padding: 0;
    /*box-shadow: inset 0 0 100px rgba(0,0,0,.1); this causes body to not fill 100%*/
    /*background-color: #21a519;*/
    background-color: #333;
    }

/*pear green 8BB562*/

h1,h2,h3{
    line-height: 1.2em;
    }

.title-box-2-wrapper {
    background-color: #333;
}

.lead {
    font-size: 40px;
    line-height: 1.2em;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.sub-lead {
    font-size: 30px;
    line-height: 1.2em;
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
}

.instructions {
    margin-top: 70px;
    font-size: 18px;
    line-height: 1.6em;
    margin-left: -35px;
    list-style: none;
    font-weight: bold;
}

.instruction {

}

.faq {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.logo-2 {
    bottom: 2px;
}

.page-wrapper {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: #21a519;
}
.content-div-wrapper {
    width: 100%;
    height: 650px;
    background-color: #6AD4ED;
    background-image: url('/static/images/rolling_hills_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1700px 100%;
    padding: 60px 10px;
    margin: 0;
    text-shadow: 1px 1px 5px rgba(255,255,255,.3);
}

.content-div {
    width:750px;
    margin: 0 auto;
    /*color: #102b50;*/
}

.left-content {
    display: inline-block;
}

.right-content {
    display: inline-block;
    vertical-align: bottom;
    float: right;
}

.right-content img {
    width: 180px;
/*    top: 50px;
    left: 100px;
    position: relative;
*/    display: block;
    margin: 100px auto 0;
}

#cs-form-div {
    position: relative;
    display: table;
    border-collapse: separate;
    color: #555;
    text-shadow: none;
    background-color: #fff;
    text-shadow: 1px 1px 5px rgba(255,255,255,.3);
    border-radius: 6px;
    width: 500px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#cs-form-ta {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    resize: none;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;
    height: 4em;
}

#cs-form-row {
    width: 100%;
    position: relative;
    display: table;
    border-collapse: separate;
}

#cs-form-in {
    display: table-cell;
    border-bottom-left-radius: 6px;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    border: 0px;
    height: 34px;
    padding: 6px 12px;
}


#cs-form-btn-span {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    font-size: 0;
    /*padding: 0px 12px;*/
}

#cs-form-btn {
    color: #fff;
    font-weight: bold;
    z-index: 2;
    margin-left: -1px;
    border-bottom-right-radius: 6px;
    position: relative;
    border: 1px solid #fff;
    border-left: 1px solid #ccc;
    background-color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 15px;
    float: right;
    width: 100%;
    background-color: #8BB562;
}

.form-problems {
    /*background-color: pink;*/
    box-shadow: inset 0 0 10px red!important;
    /*border: 2px solid red!important;*/
}

#example-popup {
    width:80%;
    max-width:650px;
    height:90%;
}

#example-popup iframe {
  width:100%;
  height:100%;
  overflow:none;
}

#clock-popup {
    padding: 50px;
    border-radius: 5px;
    width: 600px;
}

#clock-popup__thanks {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

#clock-popup__message {
    font-size: 25px;
}

@media only screen and (min-width: 600px) {


}
@media only screen and (max-width: 750px) {
    .title-box {
        text-align: center;
        margin-top: 0px;
    }

    .content-div {
        width: inherit;
        padding-top: 20px;
    }

    .lead {
        font-size: 5.6vw;
    }

    .sub-lead {
        font-size: 4.8vw;
    }

    .instructions {
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
    }

    .left-content {
        display: block;
        margin: 0 auto;
    }

    .right-content {
        display: block;
        margin: 0 auto;
        float: inherit;
    }

    .right-content img {
        margin-top: 50px;
    }

    #cs-form-div {
        font-size: 15px;
        width: 100%;
    }

    #cs-form-ta {
        height: 6em;
    }

    .content-div-wrapper {
        padding: 0 15px;
    }

    #clock-popup {
        width: 90%;
    }

    #clock-popup__message {
        font-size: 5vw;
        line-height: 1em;
    }

}
