/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
    background-image: linear-gradient(#DEE232, #9E9D28);

    /*background-image: linear-gradient(#eee, #ddd);*/
    /*background-color: #eee;*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size: 15px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.1);
          box-shadow: inset 0 0 100px rgba(0,0,0,.1);

}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.cover {
  color: #111;
  text-shadow: 1px 1px 5px rgba(255,255,255,.3)

}

/*
 * Header
 */

 .masthead {
    background-color: #333;
    width: 100%
 }
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.input-group {
    width: 100%;
}

.input-group  .form-control.ta {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 0px;
    border-bottom: 1px solid #ddd;
    resize:none;
}

.in {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 0px;
    width: 100%;
}

.btn, .btn:hover {
    border-left: 1px solid #ddd;
     border-top-right-radius: 0px;
}

#logo-top {
    margin-right: 5px;
    height: 30px;
    margin-bottom: 5px;
}

#see-example-toggle, #see-example-toggle:hover, #see-example-toggle:link {
  color: #111;
    text-decoration: underline;
}

#lightbox-overlay{
    display: none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    z-index:9998;
    align-items: center;
    justify-content: center;
  }

#lightbox-content {
    display:none;
    position:static;
    width:80%;
    max-width:650px;
    height:80%;
    border:1px solid #ccc;
    background-color:white;
    z-index:9999;
    overflow:none;
    flex:none;
}

#lightbox-content iframe {
  width:100%;
  height:100%;
  overflow:none;
}
