
/*pear green 8BB562*/

body {
    padding: 0 10px
}

h1,h2,h3{
    line-height: 1.2em;
    }

.instructions {
    margin-top: 70px;
    font-size: 18px;
    line-height: 1.6em;
    margin-left: -35px;
    list-style: none;
    font-weight: bold;
}

.faq {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.content-div {
    margin: 0 auto;
    /*color: #102b50;*/
}

.content-div-wrapper, .content-div, .title-box-2 {
    max-width: 980px;
}

.logo-2 {
    margin-left: 30px;
}

.left-content {
    display: block;
    margin: 0 auto;
    width: 520px;
}

#cs-form-div {
    position: relative;
    display: table;
    border-collapse: separate;
    color: #555;
    text-shadow: none;
    background-color: #fff;
    text-shadow: 1px 1px 5px rgba(255,255,255,.3);
    border-radius: 6px;
    width: 500px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

#cs-form-ta {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    resize: none;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;
    height: 4em;
}

#cs-form-row {
    width: 100%;
    position: relative;
    display: table;
    border-collapse: separate;
}

#cs-form-in {
    display: table-cell;
    border-bottom-left-radius: 6px;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    border: 0px;
    height: 34px;
    padding: 6px 12px;
}


#cs-form-btn-span {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    font-size: 0;
    /*padding: 0px 12px;*/
}

#cs-form-btn {
    color: #fff;
    font-weight: bold;
    z-index: 2;
    margin-left: -1px;
    border-bottom-right-radius: 6px;
    position: relative;
    border: 1px solid #fff;
    border-left: 1px solid #ccc;
    background-color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 15px;
    float: right;
    width: 100%;
    background-color: #8BB562;
}

.form-problems {
    /*background-color: pink;*/
    box-shadow: inset 0 0 10px red!important;
    /*border: 2px solid red!important;*/
}

#example-popup {
    width:80%;
    max-width:650px;
    height:90%;
}

#example-popup iframe {
  width:100%;
  height:100%;
  overflow:none;
}

#clock-popup {
    padding: 50px;
    border-radius: 5px;
    width: 600px;
}

#clock-popup__thanks {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

#clock-popup__message {
    font-size: 25px;
}

#frontpage_carousel_wrapper {
    width: 100%;
    display: inline-flex;
    align-items: stretch;
}

#frontpage_carousel {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    overflow: auto;
    flex-wrap: wrap;
    height: 340px;
    overflow-y:hidden
}

.product_image_wrapper {
    /*width: 265px;*/
    min-width: 300px;
    height: 300px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
    border-radius: 1px;
    flex-grow: 1;
    position: relative;
}

.product_image {
    display: inline-block;
    max-width: 170px;
    max-height: 170px;
}

.product_category, .product_header_text, .product_price {
    font-size: 16px;
    line-height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    /*text-align: left;*/
}

.frontpage_carousel_bumper {
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    margin: auto;
    max-width: 20px;
}

.frontpage_carousel_bumper_left {
    float: left;
    margin-right: 10px;
}

.frontpage_carousel_bumper_right {
    float: right;
    margin-left: 10px;
}

@media only screen and (min-width: 500px) {


}
@media only screen and (max-width: 500px) {
    .content-div {
        width: inherit;
        padding-top: 20px;
    }

    .instructions {
        margin-top: 20px;
        font-size: 2.9vw;
        font-weight: bold;
    }

    .left-content {
        display: block;
        margin: 0 auto;
        width: inherit;
        padding: 0 25px;
    }

    #cs-form-div {
        font-size: 15px;
        width: 100%;
    }

    #cs-form-ta {
        height: 6em;
    }


    #clock-popup {
        width: 90%;
    }

    #clock-popup__message {
        font-size: 5vw;
        line-height: 1em;
    }

    .product_image_wrapper {
        min-width: 0

    }

    .product_category, .product_header_text, .product_price {
        font-size: 4.1vw;
    }

}
