{% extends "_email_base.html" %}

{% block email_style %}
<style>
    blockquote {
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
    }
    blockquote:before {
      color: #ccc;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }
</style>
{% endblock %}

{% block email_body %}
    <p>Thanks for letting us try to find you something. Expect a reply within 24 hours. Your message is below</p>

    <blockquote>
        {{what_they_wrote}}
    </blockquote>

{% endblock %}
