<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable = no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/static/styles/css.css'>
  <link rel='stylesheet' href='/static/styles/product.css'>
  <link rel="icon" href="/static/images/favicon.ico" />

</head>
<body>

<div class='content-div-wrapper'>

<div class='title-box-2-wrapper hr'><div class='title-box-2'><a href='http://pearcube.com' onclick='window.top.location.href="http://pearcube.com"; return false'><img class='logo-2' src='/static/images/peach_logo_green_thick.svg'><span>PearCube</span></a></div></div>

<div class='hr'>
    <p>
    Hi Michaela,
    </p>

    <p>
    I understand that you are looking for an inexpensive portable scanner that is not very complicated. After researching the options, here is what I would recommend
    </p>
</div>

<div class='product-wrapper'>
<div class='product hr' id='sha'>
    <div class='product_category'>A Portable & Cheap Photo Scanner</div>
    <div class='product_image_div'>
        <a href='http://www.amazon.com/Doxie-One-Standalone-Portable-Document/dp/B008ASBFM6/ref=sr_1_1?ie=UTF8&qid=1455249343&sr=8-1&keywords=doxie+one'><img class='product_image' src='/static/product_imgs/doxie.jpg'></a>
    </div>
    <div class='product_header_text'><a href='http://www.amazon.com/Doxie-One-Standalone-Portable-Document/dp/B008ASBFM6/ref=sr_1_1?ie=UTF8&qid=1455249343&sr=8-1&keywords=doxie+one'>The Doxie One</a> - <span class='product_price'>$118</span></div>
    <div>Features</div>
    <ul class='product_qualifiers'>
        <li class='product_qualifier'>Scans both 4x6 photos and full pages</li>
        <li class='product_qualifier'>300 dpi (dots per inch)</li>
        <li class='product_qualifier'>Transfer via SD card or USB</li>
        <li class='product_qualifier'>Wall adapter included</li>
    </ul>
    <div class='why-best'>Why is this the best portable & cheap scanner?</div>
    <ul class='product_qualifiers'>
        <li class='product_qualifier'>The Doxie gets a 4.6/5 star review on Amazon of which only 25% are <a>probably fake</a>. Even without these fake reviews, the doxie receives a more truthful 4.1/5 stars</li>
        <li class='product_qualifier'>It had a positive review by this consumer reports article
</li>
        <li class='product_qualifier'>It is $ cheaper than it’s nearest competitor, the blah while offering better blah and better blah</li>
    </ul>
    <div class='why-best'>Honorable mentions</div>
    <ul class='product_qualifiers'>
        <li class='product_qualifier'>For something cheaper</li>
        <li class='product_qualifier'>For something full sized</li>
    </ul>


</div>
</div>
<p>
If you buy this scanner, be sure to let me know how it goes. If it doesn’t work out for you, I would be happy to help you return it and find you one that works.
</p>
<p>Thanks!</p>
<p>Scott</p>
</div>
</body>
</html>
