{% extends "_email_base.html" %}

{% block email_body %}
<p>
I spent a little more time on it and I think that Vizio would be a really good option. I've had one before and I loved it. Generally, they do well and get good reviews.
</p>
<p>
<a href='{{ "/Best-Cheap-Flat-Screen-Television" | absolutify }}' class='link'>http://www.pearcube.com/Best-Cheap-Flat-Screen-Television</a>
</p>

<p>
Again, please let me know any feedback you might have. Also, be sure to let anyone know who might be interested and say hi to Cleo for me.
<!-- Let me know how well this guide works for you and whether you have any other thoughts or ideas about <a class='link' href='{{ "/" | absolutify }}'>www.pearcube.com</a>. Your feedback is not just welcome, it is extremely helpful to me.  -->
</p>

<p>Thanks!<br>Scott</p>

{% endblock %}
