
<h6>How do you choose what you sell?</h6>
<div>For now, I am just looking at products on Amazon and filtering out old reviews
and reviews that I think are fake to get a "real" rating. Going forward, I will
be receiving feedback from customers. If you are not happy with what you got,
let me know and I will happily take it back and send you something that will
hopefully work better for you. This company will be built on amazingly good
customer service</div>

<h3>What do you charge?</h3>
<p>Amazon sends me a little money off of anything you buy from them so I
don't need to charge you anything. All I ask in return is for you to give me
feedback on what you end up getting so that I can continue to make good
recommendations in the future</p>

<h3>Why are you doing this?</h3>
<p>Online shopping is broken. It's complicated to compare things, spot
scams, and identify fake reviews. I think that a better experience is possible.
Creating these comparison emails is the first step</p>
