<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable = no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PearCube</title>
    <link rel="icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/static/styles/css.css'>
    <link rel='stylesheet' href='/static/styles/index_style.css'>
    <style>


</style>
</head>
<body>
    <div class='title-box-2-wrapper'><div class='title-box-2'><img class='logo-2' src='/static/images/peach_logo_green_thick.svg'><span>PearCube</span></div></div>

    <div class='content-div-wrapper'><div class='content-div'>
        <div class='question'>Need to buy something online but overwhelmed by the choices?</div>
        <div class='instructions'>
            Email us using the form below. We'll do the research, including reading articles, comparing brands, and sorting real from fake reviews.
            Then, we will email you what we think is the best option.
            <a id='see-example-toggle' data-toggle="lightbox" href="#" onclick="return show_examples()">
              See an example
            </a>
        </div>
          <form id="cs-form" onsubmit="return send_cs_email()">
            <div id="cs-form-div">
              <textarea name='body' id="cs-form-ta" rows="8" placeholder="I am looking for..."></textarea>
              <div id="cs-form-row">
                <input type="text" name='email_address' id="cs-form-in" placeholder="Email">
                <span id="cs-form-btn-span">
                  <button id="cs-form-btn" type="submit">Send</button>
                </span>
              </div>
            </div>
          </form>
    </div></div>

  <div id="lightbox-overlay" onclick="hide_lightbox()">
    <div id="lightbox-content">
      <iframe src="/Example-Emails/Small-Cheap-Photo-Scanner"></iframe>
    </div>
  </div>
  <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
  <script src='/static/scripts/index.js'></script>
</body>
</html>
