{% extends "_base.html" %}

{% block head %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel='stylesheet' href='/static/styles/css.css'>
   <link rel='stylesheet' href='/static/styles/index_style.css'>
{% endblock %}

{% block body %}
  <div class='page-wrapper'>
    <div class='title-box-2-wrapper'><div class='title-box-2'><img class='logo-2' src='/static/images/peach_logo_green_thick.svg'><span>PearCube</span></div></div>

    <div class='content-div-wrapper'><div class='content-div'>
        <div class='lead'>Online shopping is overwhelming.</div>
        <div class='sub-lead'>We can help.</div>
        <div class='left-content'>
          <ul class='instructions'>
            <li class='instruction'>Let us know what you're looking for</li>
            <li class='instruction'>We’ll do the research and respond via email within 24 hours</li>
            <li class='instruction'>
              <a id='see-example-toggle' class='link' data-toggle="lightbox" href="#" onclick="return show_examples()">
              See an example
              </a>
            </li>
          </ul>
            <form id="cs-form" onsubmit="return send_cs_email()">
              <div id="cs-form-div">
                <textarea name='body' id="cs-form-ta" placeholder="I am looking for..."></textarea>
                <div id="cs-form-row">
                  <input type="text" name='email_address' id="cs-form-in" placeholder="Email">
                  <span id="cs-form-btn-span">
                    <button id="cs-form-btn" type="submit">Send</button>
                  </span>
                </div>
              </div>
            </form>
          </div>
          <div class='right-content'>
            <img src='/static/images/birdpackage2.png'>
          </div>
    </div></div>
    <!-- <div class='bottom-filler'><div style='flex:1'></div></div> -->
  </div>

  <div class="lightbox-overlay" onclick="hide_lightbox()">
    <div class='lightbox-content' id='example-popup'>
      <iframe src="/Portable-And-Cheap-Photo-Scanner"></iframe>
    </div>
    <div class='lightbox-content' id='clock-popup'>
      <div id='clock-popup__thanks'>Thanks!</div>
      <div id='clock-popup__message'>We'll get back to you within 24 hours</div>
    </div>
  </div>

  <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
  <script src='/static/scripts/index.js'></script>
{% endblock %}
