<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable = no" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PearCube</title>
  <link rel="icon" href="/static/images/favicon.ico" />
  <!--<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel='stylesheet' href='/static/styles/index2.css'>
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><img id="logo-top" src="/static/images/peach_logo_bw_thick_white.svg">PearCube</h3>
          </div>
        </div>
        <div class="inner cover">
          <h1 class="cover-heading">
            Need to buy something online but overwhelmed by the choices?
          </h1>
          <p class="lead">
            Email us using the form below. We'll do the research, including reading articles, comparing brands, and sorting real from fake reviews.
            Then, we will email you what we think is the best option.
            <a id='see-example-toggle' data-toggle="lightbox" href="#" onclick="show_lightbox(); return false;">
              See an example
            </a>
          </p>
          <form id="cs_form">
            <div class="input-group">
              <textarea name='body' class="form-control ta" rows="8" placeholder="I am looking for..."></textarea>
              <div class="input-group">
                <input type="text" name='email' class="form-control in" placeholder="Email">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Send</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="lightbox-overlay" onclick="hide_lightbox()">
    <div id="lightbox-content">
      <iframe src="/Example-Emails/Small-Cheap-Photo-Scanner"></iframe>
    </div>
  </div>

  <script src='/static/scripts/index.js'></script>
</body>
</html>
