{% extends "_base.html" %}

{% macro feature_list(features) -%}
    {% for f in features %}
        <li class='product_qualifier'>
            {{f.feature | linkify | safe}}
            {% if f.tooltip %}
                <span class="tip" data-question="{{f.tooltip.title}}" data-tip="{{f.tooltip.tip | linkify | safe}}">
                  <i class="fa fa-question-circle clickable_question"></i>
                </span>
            {%endif%}
        </li>
    {% endfor %}
{%- endmacro %}


{% block title %} {{ page_url | dashes_to_spaces }} - Pearcube {% endblock %}

{% block head %}
  <link rel='stylesheet' href='{{"styles/css.css" | versioned}}'>
  <link rel='stylesheet' href='{{"styles/product.css" | versioned}}'>
  <link rel="stylesheet" href='{{"styles/font-awesome.css" | versioned}}'>
  <link rel="stylesheet" href='{{"styles/tipr.css" | versioned}}'>
{% endblock %}


{% block body %}


    <div class='content-div'>
        <div class='product' id='sha'>
            <div class='product_category'>{{title_category}}</div>
            <div class='product_image_wrapper'>
                    <div class='product_header_text'><a href='{{buy_link}}'>{{manufacturer}} {{name}} - <span class='product_price nowrap'>{{price | format_price}}{%if and_up%}+{%endif%} from amazon</span></a></div>
                            <div class='product_image_top'>
                    {% if images|length > 1 %}
                        <div class='product_image_bumper product_image_bumper_left' onclick='rotate_image(this, -1)'><i class="fa fa-chevron-left"></i>
</div>
                    {% endif %}
                    <a href='{{buy_link}}' class='product_image_link_wrapper'>
                    {% for image in images %}
                        <img class='product_image {{ "visible_image" if loop.first }}' src='/static/product_imgs/{{image}}'>
                    {% endfor %}
                    </a>
                    {% if images|length > 1 %}
                        <div class='product_image_bumper product_image_bumper_right' onclick="rotate_image(this, 1)"><i class="fa fa-chevron-right"></i>
</div>
                    {% endif %}
                </div>
                {% if images|length > 1 %}
                    <div class='product_image_buttons_wrapper'>
                        <div class='product_image_buttons'>
                            {% for image in images %}
                                <span class='product_image_button {{ "selected_button" if loop.first }}' onclick='rotate_image_to(this, {{loop.index0}})'>•</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class='product_sub_header'>Features</div>
            <ul class='product_qualifiers'>
                {{feature_list(features)}}
            </ul>
            {% if why_best %}
                <div class='product_sub_header'>Why is this the best {{regular_speak}}?</div>
                <ul class='product_qualifiers'>
                    {{feature_list(why_best)}}
                </ul>
            {% endif %}
            {% if see_also %}
                <div class="product_sub_header">See also</div>
                <ul class='product_qualifiers'>
                    {% for see, link in see_also.items() %}
                        <li class='product_qualifier'><a class='link' href="{{link}}">{{see}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class='product_sub_header'>Our guarantee</div>
            <ul class='our_guarantee'>
                <li>Pearcube sells <a href='/about' class='link'>only the best of everything</a>. We do extensive research before making a recommendation. If you buy this, and it doesn't work out, we want to know. While Amazon will refund your purchase, we will refund your return shipping to Amazon up to $50. We will probably also stop selling it.</li>
            </ul>
            <div class='buy-button-wrapper'>
                <a href='{{buy_link}}' class='buy-button'>Buy the <span class='nowrap'>{{manufacturer}} {{name}}</span></a>
            </div>

        </div>
    </div>

  <div class="lightbox-overlay" onclick="hide_lightbox()">
    <div class='lightbox-content' id='info-popup'>
        <div class='info-question'></div>
        <p class='info-content'></p>
    </div>
  </div>

{% endblock %}

{% block scripts %}
    <script src='{{"scripts/js.js" | versioned}}'></script>
    <script src='{{"scripts/product.js" | versioned}}'></script>
    <script src='{{"scripts/tipr.js" | versioned}}'></script>
{% endblock %}
