{% extends "_base.html" %}

{% macro feature_list(features) -%}
    {% for f in features %}
        <li class='product_qualifier'>
            {{f.feature | linkify | safe}}
            {% if f.tooltip %}
                <span class="tip" data-question="{{f.tooltip.title}}" data-tip="{{f.tooltip.tip}}">
                  <i class="fa fa-question-circle"></i>
                </span>
            {%endif%}         
        </li>           
    {% endfor %}
{%- endmacro %}


{% block title %} Portable And Cheap Photo Scanner {% endblock %}

{% block head %}
  <link rel='stylesheet' href='/static/styles/css.css'>
  <link rel='stylesheet' href='/static/styles/product.css'>
  <link rel="stylesheet" href="/static/styles/font-awesome.css">
  <link rel="stylesheet" href="/static/styles/tipr.css">
{% endblock %}


{% block body %}
    <div class='content-div-wrapper'>

    <div class='title-box-2-wrapper hr'><div class='title-box-2'><a href='{{ "/" | absolutify }}'><img class='logo-2' src='{{ "/static/images/whitelogo.png" | absolutify }}'></a></div></div>

    <div class='product-wrapper'>
        <div class='product' id='sha'>
            <div class='product_category'>{{title_category}}</div>
            <div class='product_image_div'>
                <a href='{{buy_link}}'><img class='product_image' src='/static/product_imgs/{{images[0]}}'></a>
            </div>
            <div class='product_header_text'><a href='{{buy_link}}'>{{manufacturer}} {{name}} - <span class='product_price'>${{price}} from amazon</span></a></div>
            <div>Features</div>
            <ul class='product_qualifiers'>
                {{feature_list(features)}}
            </ul>
            <div class='why-best'>Why is this the best {{regular_speak}}?</div>
            <ul class='product_qualifiers'>
                {{feature_list(why_best)}}
            </ul>
            <div class='buy-button-wrapper'>
                <button onclick="window.location.assign('{{buy_link}}')" class='buy-button'>Buy the <span class='nowrap'>{{manufacturer}} {{name}}</span></button>
            </div>
                
        </div>
    </div>
    </div>

  <div class="lightbox-overlay" onclick="hide_lightbox()">
    <div class='lightbox-content' id='info-popup'>
        <div class='info-question'></div>
        <p class='info-content'></p>
    </div>
  </div>

{% endblock %}

{% block scripts %}
    <script src='/static/scripts/js.js'></script>
    <script src='/static/scripts/product.js'></script>
    <script src="/static/scripts/tipr.js"></script>
{% endblock %}
